# Ignore env
env/

# Ignore pycache
__pycache__/

# Ignore pytest cache
.pytest_cache/

# Ignore gecodriver log
geckodriver.log

# Ignore extension
ublock.xpi

# Normally would ignore .gitignore, but for the project I will include it
# .gitignore